---
layout: indexen
---

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class='section blogs' id='blogs'>
  <div class='blog__grid section' id='_posts'>


{% for post in site.posts limit:6 %}
       {% if post.lang == "en" %}
      {% unless post.featured == false %}
        {% include postbox2.html %}
      {% endunless %}
      {% endif %}
      {% endfor %}



<!-- ingilizce arşiv oluşturulunca bu aktife alınacak<div class="see-all">
  <a href="/arsiv" class="button">Tüm Yazılar</a>
</div>-->

      
	  
	  
	 <!-- Pagination 
    <div style="" class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
  </div> -->
	  
</div> 
    
 <div class='blog__grid2 section' id='_sidebar'>
    {% include sidebaren.html %}
  </div>

  </section>
