---
layout: home
---
<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class='section blogs' id='blogs'>
  <div class='blog__grid section' id='_posts'>



{% assign turkce_yazilar = site.posts | where_exp: "post", "post.lang != 'en' or post.lang == nil" %}
{% for post in turkce_yazilar limit:6 %}
  {% include postbox2.html %}
{% endfor %}


<div class="see-all">
  <a href="/arsiv" class="button">Tüm Yazılar</a>
</div>

      <!-- eski post alanı{% for post in site.posts %}
       {% if post.lang != "en" %}
      {% unless post.featured == false %}
        {% include postbox2.html %}
      {% endunless %}
      {% endif %}
      {% endfor %}-->
	  
	  
	 <!-- Pagination -->
    <div style="" class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
  </div> 
	  
</div> 
    
  <div class='blog__grid2 section' id='_sidebar'>
    {% include sidebar1.html %}
  </div>
  </section>
