---
layout: home
---
<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class='section blogs' id='blogs'>
  <div class='blog__grid section' id='_posts'>


 {% if post.lang != 'en' limit:6 offset:6 %}
      {% unless post.featured == false %}
        {% include postbox2.html %}
      {% endunless %}
      {% endif %}
      {% endfor %}



<div class='see-all'>
  <a href='/arsiv' class='button'>Tüm Yazılar</a>
</div>

  
	  
	  
	
	  
</div> 
    
  <div class='blog__grid2 section' id='_sidebar'>
    {% include sidebar1.html %}
  </div>
  </section>
