<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>

</head>
<body>

  {% include header.html %}

<main>
  {{ content }}
</main>
  {% include footer.html %}

  <script>
    const btn=document.getElementById('menuBtn');
    const header=document.getElementById('header');
    if(btn){
      btn.addEventListener('click',()=>header.classList.toggle('expanded'));
    }
  </script>
   {% include notification.html %}


  <div id="pwaInstallBar" style="
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2563eb;
  color: #fff;
  padding: 12px;
  text-align: center;
  display: none;
  z-index: 9999;">
  📲 This site supports pwa. Would you like to install it?
  <button id="installBtn" style="margin-left:10px;padding:6px 12px;border:none;border-radius:6px;background:#fff;color:#2563eb;cursor:pointer;">
    Install
  </button>
  <button id="closeBar" style="margin-left:10px;padding:6px 12px;border:none;border-radius:6px;background:#f87171;color:#fff;cursor:pointer;">
    Close
  </button>
</div>

<script>
let deferredPrompt;
const installBtn = document.getElementById('installBtn');

window.addEventListener('beforeinstallprompt', (e) => {
  e.preventDefault();
  deferredPrompt = e;
  installBtn.style.display = 'block';
});

installBtn.addEventListener('click', () => {
  installBtn.style.display = 'none';
  deferredPrompt.prompt();
  deferredPrompt.userChoice.then((choiceResult) => {
    deferredPrompt = null;
  });
});
</script>
</body>
</html>
