<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <title>{{ page.title }} | {{ site.title }}</title>
   {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

  {% include header.html %}

<main>
  {{ content }}
</main>
  {% include footer.html %}

  <script>
    const btn=document.getElementById('menuBtn');
    const header=document.getElementById('header');
    if(btn){
      btn.addEventListener('click',()=>header.classList.toggle('expanded'));
    }
  </script>
   {% include notification.html %}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  timeago.render(document.querySelectorAll('.timeago'), 'en');
});
</script>

   <!-- Leaflet JS (body sonunda olması daha iyi) -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>
