<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <title>{{ page.title }} | {{ site.title }}</title>
   {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>

</head>
<body>

  {% include header.html %}

<main>
  {{ content }}
</main>
  {% include footer.html %}

  <script>
    const btn=document.getElementById('menuBtn');
    const header=document.getElementById('header');
    if(btn){
      btn.addEventListener('click',()=>header.classList.toggle('expanded'));
    }
  </script>
   {% include notification.html %}


 


<script>
document.addEventListener("DOMContentLoaded", function () {
document.querySelectorAll(".timeago").forEach(function(el) {

const postDate = new Date(el.getAttribute("datetime"));
const now = new Date();

const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
const postDay = new Date(postDate.getFullYear(), postDate.getMonth(), postDate.getDate());

const diffDays = Math.floor((today - postDay) / (1000 * 60 * 60 * 24));

if(diffDays === 0){
el.textContent = "Today";
}
else if(diffDays === 1){
el.textContent = "Yesterday";
}
else{
el.textContent = diffDays + " days ago";
}

});
});
</script>



</body>
</html>
