---
layout: index1
---

<!-- Begin Article
================================================== -->


<section class='section blogs' id='blogs'>
  <div style="min-width: 100% !important;" class='blog__grid section' id='_posts'>
   {% assign author = site.authors[post.author] %}
 <div class='blog'>
    <h3>{{ page.title }} </h3>
    {{content}}
 </div>
 

            

</div> 
    
  
  </section>







               
                
               
				
                
		
			
            
           
            
         
            
            
         
           

        

		
           
        


<!-- End Article
================================================== -->